__pycache__
*.egg-info
*.egg
*.pyc

.cache
.pytest_cache*

.*-version

.env
!.env.sample
.env.ci
!.env.ci.sample
.coverage

app.yaml
cors-file.json
/*_config.py
/wsgi.py

runtime.txt

/bin/_*
/bin/gitlab-runner

/locale
/static/*
!/static/**/*/.gitignore
/lib/*
/vendor

/tmp/log/*
/tmp/build/*
/tmp/_cache/*
!/tmp/**/.gitignore

/venv*
/node_modules
