__pycache__/

*.egg-info/
*.egg

.cache

.env
.coverage
app.yaml

/bin/gitlab-ci-multi-runner
/locale

/venv*
/node_modules

/static/*
!/static/.gitignore

/google-*
/bin/publi.sh

/tmp/logs/*.log
!/tmp/logs/.gitignore
/tmp/builds/*
