__pycache__/
*.pyc
*.egg-info/
*.egg
.cache

.*-version

.env
.env.ci
.coverage

app.yaml
appengine_config.py

/bin/publish
/bin/gitlab-ci-multi-runner

/locale

/static/*
!/static/**/*/.gitignore

/lib/*
/vendor

/tmp/logs/*.log
!/tmp/logs/.gitignore
/tmp/builds/*
/tmp/_cache

/venv*
/node_modules
