bleach==2.0.0
better_exceptions==0.1.8
MarkupSafe==1.0
Paste==2.0.3
PasteScript==2.0.2
python-dotenv==0.6.0
pyramid==1.9.1
pyramid_assetviews==1.0a3
pyramid-mako==1.0.2

# python2.7
ipaddress==1.0.18
typing==3.6.2

# production
CherryPy==8.1.2

# development
flake8==3.5.0
flake8_docstrings==1.1.0
pycodestyle==2.3.1
pylint==1.7.4

waitress==1.0.0

# development,testing
colorlog==2.7.0

# testing
pytest==3.0.5
pytest-cov==2.4.0
pytest-mock==1.6.2
WebTest==2.0.23
