// section
.content
  min-height 18.2rem

header
  color #fbf9fd
  background-color #454545
  max-height 4.5rem
  padding 0.16rem 0 0.55rem 0
  .description
    margin-top 1.48rem
    max-width 28.5rem
    line-height 1.1
    span
      display inline-block
      margin 1.92rem 0 0 0
  .get-started
    margin 4.22rem 0 2.22rem 0

.wrapper > .footer
  padding-top 3.55rem
  .info
    padding-top 0.66rem
    text-align left
    h3
      margin 1.38rem 0 0.88rem 0
    .lang
      padding-top 0.66rem
      form
        display inline-block
        max-width 9rem
        margin 1.42rem 0 0 0


// component
.announcement
  width 100%
  margin 0
  padding 0.44rem 0 0.48rem 0
  p
    margin 0
    padding 0 0.33rem

.global-nav
  margin 0
  background-color #f0ede6

.nav
  line-height 1.12em
  margin-top 0.48rem
  margin 0
  text-align center
  width 100%
  li
    display inline-block
    margin-right 0.781em
  .link
    margin 1.01rem 0.32rem
    display inline-block

.wrapper > .footer
  .nav
    margin-top 1.28rem
    li:first-child
      margin-right 1.281em
    li:last-child
      margin-left 0.481em

.line
  margin 2.22rem 0


// grid
.grid.title
  padding 2.1rem 0
  background-color #fbfaf8

.grid.screenshot
  margin 5.49rem 0

.grid.feature
  padding 2.44rem 0 1.85rem 0
  background-color #f0ede6
  .heading
    margin 1.71rem auto 2.86rem auto
    max-width 37.29rem
  section
    display block
    margin-top 1.2rem

.grid.feature,
.grid.link
  p.text
    padding-left 0.66rem
    padding-right 0.66rem
    max-width 21.42rem

.grid.customer
  margin 3.43rem 0 2.15rem 0
  padding 2.3rem 0

.grid.newsletter
  padding 5.43rem 0 4.72rem 0
  background-color #ffffff
  .newsletter-container
    form
      margin 2.16rem auto

.grid.link
  padding 4.62rem 0 2.22rem 0
  background-color #f0ede6
  .link-container
    margin 2.43rem 0 2.52rem 0
    padding-bottom 3.2rem
  section
    margin-bottom 3.941rem

.grid.about
  padding 4.82rem 0 3.69rem 0
  a
    display inline-block
    margin 0 0.28rem

.grid.timeline
  background-color #ffffff
  min-height 630px
  vertical-align middle

.grid.pricing
  padding 3.81rem 0
  background-color #fbfaf8

.note
  margin 1.92rem auto 1.68rem auto
  padding 0
  max-width 56rem


// svg
svg
  display inline-block
  margin-right 0.18rem

svg.icon
  min-height 36px
  min-width 36px
  max-height 48px
  max-width 48px

svg.small.icon
  min-width 20px
  min-height 20px
  max-width 24px
  max-height 24px

svg.tiny.icon
  min-width 12px
  min-height 12px
  max-width 16px
  max-height 16px

.gird.feature
  sng.icon
    margin-top 1.98rem
    margin-bottom 13px

.about
  svg.icon
    margin 0 0.22rem
