// section
.container
  min-height 18.2rem

.header
  max-height 19.5rem
  min-height 6.9rem
  padding 2.16rem 0
  .description
    margin-top 1.48rem
    max-width 28.5rem
    line-height 1.1
    span
      display inline-block
      margin 1.92rem 0 0 0
  .get-started
    margin 4.22rem 0 2.22rem 0

.footer
  padding-top 3.55rem
  .info
    padding-top 0.66rem
    text-align left
    h3
      margin 1.38rem 0 0.88rem 0
    .lang
      padding-top 0.66rem
      form
        display inline-block
        max-width 9rem
        margin 1.42rem 0 0 0


// component
.nav
  li
    display inline-block
  .link
    margin 1.01rem 0.32rem
    display inline-block

.line
  margin 2.22rem 0

.header
  .nav
    li
      margin-right 0.781em

.footer
  .nav
    li:first-child
      margin-right 1.281em
    li:last-child
      margin-left 1.281em

// grid
.grid.screenshot
  margin 5.49rem 0

.grid.feature
  .heading
    margin 1.71rem auto 2.86rem auto
    max-width 37.29rem
  section
    display block
    margin-top 1.2rem
  p.text
    max-width 21.42rem

.grid.newsletter
  margin 4.43rem 0
  .newsletter-container
    form
      margin 2.16rem auto

.grid.about
  margin 3rem 0 1.69rem 0
  a
    display inline-block
    margin 0 0.28rem

.grid.roadmap
  min-height 630px
  vertical-align middle

.announcement
  line-height 3.20rem
  width 100%
  margin 0
  padding 0.42rem 0 0.299rem 0
  p
    margin 0
    padding 0 0.33rem

.note
  margin 1.92rem auto 1.68rem auto
  padding 0
  max-width 56rem


// svg
svg
  display inline-block
  margin-right 0.18rem

svg.icon
  min-height 36px
  min-width 36px
  max-height 48px
  max-width 48px

svg.tiny.icon
  min-width 12px
  min-height 12px
  max-width 16px
  max-height 16px

.feature
  sng.icon
    margin-top 1.98rem
    margin-bottom 13px

.about
  svg.icon
    margin 0 0.22rem
