body
  color #838383
  background-color #fbfbfb

// general tag
a
  color #a380d8
  text-decoration none
  display inline-block

a[target="_blank"]
  &:hover
    text-decoration underline wavy darkgray !important

input[type="text"]
  border-radius 2px
  border 1px solid #333333
  padding 0.26rem 0.46rem
  margin 0 0.38rem
  min-width 13.12rem

// section
header
  .logo
    line-height 0.8em
    margin 0
    padding 0.58rem 0 0.06rem 0
    vertical-align middle
  .logo-mark
    display inline-block
    margin-right 0.58rem
  .logo-type
    display inline-block
    vertical-align top
    margin 0.098rem 0 0 0

  .description
    font-size 2.15rem
    span
      font-size 1.56rem

.footer
  background-color #454545
  background linear-gradient(#1f1d1f, #141412 38%)
  color #ffffff
  ul
    padding-left 0
    li
      list-style none
      line-height 1.15em
  ul.legal
    li
      line-height 2.2em


// heading
.content
  h2
    font-size 1.8rem
  h3
    font-size 0.95rem
    font-weight bold
    line-height 1.4em
    p
      margin 1.58rem 0

.get-started
  margin-top 4.11rem
  .try.button
    color darken(#838383, 21%)
    border-radius 2px
    min-height 2.62rem
    min-width 11.33rem
    line-height 2.62rem
    text-decoration none
    font-size 1.26rem

// description
h2.heading,
h3.heading
  color darken(#f3f3f3, 66%)

.title
  h2.heading
    font-weight bold
    font-size 2.57em
  .description
    padding-left 0.62rem
    padding-right 0.62rem
    font-size 1.18em


// component
.grid.about
  padding-top 1.66rem
  padding-bottom 0

.nav
  .link
    font-weight 300
    text-decoration none
    letter-spacing 0.05em
  .link.active,
  .link:hover
    color darken(#838383, 21%)
    text-decoration underline darkgray

.announcement
  background-color #7B6E94
  color #FFFFFF
  display block
  box-shadow 0 0 0.14rem darken(#f3f3f3, 51%)
  span.highlight
    color pink
    font-weight bold
  a.signup
    color #87a96b
    font-weight bold

.grid.customer
  .customer
    > .description
      padding 0 0.86rem
  .box
    min-height 25.6rem
  .footer
    min-height 3.12rem
  div.none
    background-color lighten(#f2f2f2, 36%)
  div.none.footer
    border-color lighten(#d2d2d2, 16%)
  .attached.box
    .header
      margin 0 auto
      padding 1.65rem 0
      min-height 0.5rem
      border-bottom 1px solid #f3f3f3
  .attached.footer
    span.location
      color darken(#838383, 9%)
      display block
      padding 0.43rem 0;

.grid.newsletter
  input[type="text"]
    border 1px solid lighten(#838383, 21%)
    width 12.85rem
    padding-bottom 0.46rem
  input.secondary.button
    margin-top 1.33rem
    min-height 1.22rem
    min-width 8.43rem
    font-size 0.88em

.grid.link
  svg.icon
    display block
  span.help,
  span.changelog,
  span.documentation
    display block
    margin 2.02rem 0
  .signup.button
    margin 1.24rem 0 2.28rem 0
    padding 0.45rem 1.49rem
  code
    border none
    border-radius 0
    &:hover
      text-decoration underline

.grid.pricing
  .tab.menu
    .item
      padding-top 0.92rem
      padding-bottom 0.92rem
      &.disabled
        color #d2d2d2
        cursor not-allowed
        &:hover
          background none
      &.active
        border-bottom 1px solid #fbfaf8
  h3.header
    margin-top 2.06rem
    text-align left
  .pricing.box
    min-height 8.12rem
    .price > span
      margin 1.41rem 0.12rem 0.83rem auto
      display inline-block
      font-size 1.83em
      font-weight normal
      &.disabled
        text-decoration line-through salmon
  .pricing.footer
    p
      font-size 0.92rem
      color darken(#838383, 12%)
  p.note
    text-align left
    margin 1.11rem 0
    max-width 100%
  span.development
    margin 0 0.18rem
    display inline-block
    color salmon
  .table-container
    overflow auto
  table.pricing-table
    min-width 720px
    margin 2.12rem 0
    .small.text
      color darkgray
      font-size 0.82em
      margin 0
    th:not([align="left"]),
    td[align="center"]
      text-align center
    tr.sub-heading,
    tr.sub-heading td
      border-bottom 1px dotted #d3d3d3
      padding-left 0.678rem
    td.sign
      font-size 1.22em
      font-family monospace
    tr.disabled td,
    td.disabled
      color #d2d2d2
      text-decoration line-through
    td
      font-size 0.92em
      p
        margin 0 0 -0.45rem 0
      h6
        font-size 0.77em
        font-weight bold
        margin 0.61rem 0 -0.54rem 0


// image
.grid.screenshot
  img
    max-width 980px
    max-height 587px
    width 90%
    border 1px solid darken(#efefef, 3%)
    box-shadow 0.21rem 0.21rem 0.18rem darken(#f3f3f3, 18%)

// svg
svg.icon
  display inline-block
  margin 0
  padding 0.2rem 0 0 0
  fill #4e575f

svg.icon.pink
  fill #f45660


// media queries (incl. layout)
@media only screen and (max-width: 768px)
  .announcement
    padding 0.42rem 0.28rem 0.28rem 0.28rem
    p
      font-size 0.95em
      font-weight 300
      line-height 2.81rem
      padding 0.2rem 0.02rem

  input[type="submit"]
    display block
    margin-top 1.26rem
    padding 0.18rem 0.62rem

  .mobile-hidden
    display none

// medium
@media only screen and (max-width: 640px)
  .announcement
    padding 0.72rem 0.28rem 0.54rem 0.28rem
    p
      font-size 0.95em
      font-weight 300
      line-height 1.96rem
      padding 0.2rem 0.02rem

// small
@media only screen and (max-width: 480px)
  .title h2.heading
    font-size 1.71em

  .feature h2.heading
    font-size 1.31em
    text-align left
    padding-left 1.08rem

  .header,
  .pricing .description
    padding-left 0.56rem
    padding-right 0.56rem

  p.description,
  p.text
    text-align left
