body
  color rgba(255, 255, 255, 0.65)
  background-color #121517
  background-image url(../img/background.svg), linear-gradient(#394a54, #121517 38%)
  background-repeat repeat-x
  background-attachment scroll
  background-position center top
  // light -> dark
  //color #ffffff
  //background-color #121517
  transition-property all
  transition-duration 4.8s

body.fixed
  transition-property none
  background-attachment fixed
  background-size cover
  background-position center 37%
  // light -> dark
  //color #838383
  //background-color #ffffff


// general tag
a
  color #a380d8
  text-decoration none

input[type="text"]
  border-radius 2px
  border 1px solid #333333
  padding 0.26rem 0.46rem
  margin 0 0.38rem
  min-width 13.12rem

// section
.header
  .description
    font-size 2.15rem
    span
      font-size 1.56rem
  .logo-img
    // FIXME
    vertical-align middle
    margin 0
    width 360px
    padding 8px 12px
    border 1px solid #f2f2f2

.footer
  //background-color #131415
  background-image linear-gradient(#121517, #131415 50%)
  color #ffffff
  ul
    padding-left 0
    li
      list-style none


// heading
.container
  h2
    font-size 1.8rem
  h3
    font-size 0.95rem
    font-weight bold
    line-height 1.4em
  .get-started
    margin-top 4.11rem
    .try.btn
      //color darken(#a380d8, 36%)
      color darken(#888888, 36%)
      border-radius 2px
      min-height 2.62rem
      min-width 11.33rem
      line-height 2.62rem
      text-decoration none
      font-size 1.46rem
    p
      margin 1.58rem 0


// description
.title
  h1
    font-weight bold
    font-size 2.97em
    color darken(#ffffff, 9%)
  .description
    font-size 1.18em



// component
.grid.about
  padding-top 1.66rem
  padding-bottom 0

.grid.feature
  .heading
    color #f3f3f3

.nav
  margin-top 2.88rem
  .link
    font-weight 300
    text-decoration none
    letter-spacing 0.05em
  .link.active,
  .link:hover
    color #ededed

.line
  color darken(#f3f3f3, 89%)
  width 7.24rem

.announcement
  background-color #705e8d
  color #FFFFFF
  display block
  font-size 18px
  font-weight 400
  //box-shadow 0 0 0.18rem darken(#333333, 3%)

// image
.screenshot
  img
    max-width 1024px - 64px
    width 90%
    border 1px solid #efefef
    //box-shadow 0.46rem 0.46rem 1.2rem darken(#333333, 9%)

// svg
svg.icon
  fill #4e575f

svg.icon.pink
  fill #f45660


// media queries (incl. layout)
@media only screen and (max-width: 768px)
  .announcement
    padding 0.42rem 0.28rem 0.28rem 0.28rem
    p
      font-size 0.95em
      font-weight 300
      line-height 2.81rem
      padding 0.2rem 0.02rem

  input[type="submit"]
    display block
    margin-top 1.26rem
    padding 0.18rem 0.62rem

@media only screen and (max-width: 620px)
  .announcement
    padding 0.72rem 0.28rem 0.54rem 0.28rem
    p
      font-size 0.95em
      font-weight 300
      line-height 1.96rem
      padding 0.2rem 0.02rem
