// section
.content
  min-height 18.2rem

header
  color #fbf9fd
  background-color #454545
  max-height 3.76rem
  padding 0 0 0.38rem 0

.wrapper > .footer
  padding-top 3.55rem
  .info
    padding-top 0.66rem
    text-align left
    h3
      margin 1.38rem 0 0.88rem 0
    .lang
      padding-top 0.66rem
      form
        display inline-block
        max-width 9rem
        margin 1.42rem 0 0 0


// component
.announcement
  width 100%
  margin 0
  padding 0.44rem 0 0.48rem 0
  p
    margin 0
    padding 0 0.33rem

.global-nav
  float right
  display inline-block
  margin 0

.nav
  line-height 1.12em
  padding-left 3.2rem
  li
    display inline-block
    margin-right 0.781em
  .link
    margin 0.71rem 0.28rem
    display inline-block

.wrapper > header
  .nav
    margin-top 0
    display inline-block
    li
      a,
      a.active
        color #f3f3f3
  .nav-container
    margin-right 0
    padding-right 0

.wrapper > .footer
  .nav
    margin-top 1.28rem
    li:first-child
      margin-right 1.281em
    li:last-child
      margin-left 0.481em

.line
  margin 2.22rem 0


// grid
.grid.title
  padding 2.1rem 0
  background-color lighten(#f0ede6, 13%)

.grid.screenshot
  padding 4.49rem 0
  background-color #fbfaf8

.grid.feature
  padding 2.44rem 0 1.85rem 0
  background-color lighten(#f0ede6, 13%)
  .heading
    margin 1.71rem auto 2.86rem auto
    max-width 37.29rem
  section
    display block
    margin-top 1.2rem

.grid.feature,
.grid.link
  background-color #fbfaf8
  p.text,
  p.email
    padding-left 0.66rem
    padding-right 0.66rem
    max-width 21.42rem

.grid.customer
  padding 5.63rem 0 2.15rem 0
  background-color #ffffff

.grid.newsletter
  padding 5.43rem 0 4.72rem 0
  background-color #ffffff
  .newsletter-container
    form
      margin 2.16rem auto

.grid.link
  padding 4.62rem 0 2.22rem 0
  background-color #f0ede6
  .link-container
    margin 2.43rem 0 2.52rem 0
    padding-bottom 3.2rem
  section
    margin-bottom 3.941rem

.grid.about
  background-color #ffffff
  padding 4.82rem 0 3.69rem 0
  a
    display inline-block
    margin 0 0.28rem

.grid.pricing
  padding 3.81rem 0
  background-color #fbfaf8

.note
  margin 1.92rem auto 1.68rem auto
  padding 0
  max-width 56rem


// svg
svg
  display inline-block
  margin-right 0.18rem

svg.icon
  min-height 36px
  min-width 36px
  max-height 48px
  max-width 48px

svg.small.icon
  min-width 20px
  min-height 20px
  max-width 24px
  max-height 24px

svg.tiny.icon
  min-width 12px
  min-height 12px
  max-width 16px
  max-height 16px

.gird.feature
  sng.icon
    margin-top 1.98rem
    margin-bottom 13px

.about
  svg.icon
    margin 0 0.22rem

// normal
@media only screen and (max-width: 768px)
  .wrapper header
    > .row
      display block !important
      height 42rem
      > div
        margin 0
        padding 0
        width 100%

    .global-nav
      float right
      .nav
        margin 0
        display none


// small
@media only screen and (max-width: 480px)
  .grid.screenshot
    margin 1.49rem 0

  .grid.link
    padding-top 2.62rem
    section
      margin-bottom 1.33rem


// mobile-nav
.mobile.nav
  label.toggle
    display none
  input[id^=dropdown]
    display none
  ul.menu
    display none
    width 100%
    margin 1.21rem 0 0 0
    padding 0
    li
      text-align left
      padding 0
      width 100%
      a
        vertical-align middle
        margin 0
        padding 0.75rem 0.94rem 1.12rem 1.14rem
        width 100%

// normal
@media only screen and (max-width: 768px)
  .wrapper > header
    border-bottom 3px solid #7b6e94
    .mobile.nav
      overflow visible
      display block
      margin -2.48rem 0 0 0
      padding 0

      label.toggle
        display block
        width 100%
        margin 0.62rem 0 0 0
        padding 0 1.16rem 0 0
        border none
        text-decoration none
        outline none
        &:focus,
        &:hover
          background none
          outline none
      input[id^=dropdown]
        outline none
        display none
        &:focus,
        &:hover
          background none
          outline none
      input[id^=dropdown]:checked + ul.menu
        display block
        li
          display block
          background-color #666666
          border-bottom 1px solid #444444
          a
            &.active,
            &:hover
              background-color #7b6e94
              text-decoration none
              color #f3f3f3
