body.slab-loaded
  font-family 'Roboto Slab', serif
  word-spacing 0
  letter-spacing 0
  h1
    .logo-type
      font-family 'Roboto Slab', serif
      word-spacing 0
      letter-spacing 0

body.sans-loaded
  h1.heading
    font-family 'Open Sans', sans-serif
    word-spacing 0
    letter-spacing 0
  h2.heading
    font-family 'Open Sans', sans-serif
    word-spacing 0
    letter-spacing 0
  h3.heading
    font-family 'Open Sans', sans-serif
    word-spacing 0
    letter-spacing 0
  .announcement
    font-family 'Open Sans', sans-serif
    word-spacing 0
    letter-spacing 0

body
  font-family serif
  font-size 1.12em
  font-weight 300
  line-height 1.563em
  hyphens auto
  word-spacing -0.25px
  letter-spacing -0.15px

h1.heading
  font-family serif
  font-weight 300
  font-size 3.16em
  line-height 1.491em
  word-spacing -0.25px
  letter-spacing -0.4px

h2.heading
  font-family serif
  font-weight 300
  font-size 1.99em
  line-height 1.273em
  word-spacing -0.25px
  letter-spacing -0.4px

h3.heading
  font-family serif
  font-weight 300
  font-size 1.23em
  word-spacing -0.25px
  letter-spacing -0.4px

h1
  .logo-type
    font-family serif
    font-weight 100
    font-size 0.59em
    word-spacing -0.25px
    letter-spacing -0.15px
    .scroll
      color #f2f2f2
      letter-spacing -0.002rem
    .iris
      color #a5a0ae
      letter-spacing -0.011rem

.announcement
  font-family sans-serif
  font-size 0.88em
  font-weight 200
  line-height 1.11rem
  word-spacing -0.25px
  letter-spacing -0.4px
