body
  font-family 'Roboto Slab', 'Open Sans', serif
  font-size 1.12em
  font-weight 300
  line-height 1.563em
  hyphens auto

h1.heading
  font-family 'Open Sans', serif
  font-weight 400
  font-size 3.16em
  line-height 1.491em

h2.heading
  font-family 'Open Sans', serif
  font-weight 500
  font-size 1.99em
  line-height 1.273em

h3.heading
  font-family 'Open Sans', serif
  font-weight 400
  font-size 1.23em

h1
  .logo-type
    font-family 'Roboto Slab', serif
    font-weight 100
    font-size 0.59em
    .scroll
      color #f2f2f2
      letter-spacing -0.002rem
    .iris
      color #a5a0ae
      letter-spacing -0.011rem

.announcement
  font-family 'Open Sans', sans, sans-serif
  font-size 0.88em
  font-weight 200
  line-height 1.11rem
